@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: blueviolet;
    height: 21vh;
    position: relative;
}
.up{
    background-color: rgb(31, 9, 52);
    height: 9%;

}
.logo{
    display: inline;
    position: absolute;
    top:9%;
    left: 5.5%;
    height: 91%;
    width: 10%;
    background-image: url('./images/nsit_logo.png');
    background-size: 100% 100%;    
    transition: border 0.1s linear 0s;
    /* border: 3px solid rgb(31, 9, 52); */
}
.h1{
    display: inline;
    line-height:1.5em;
    font-size: 1em;
    position: relative;
    left: 16.5%;
    color: white;
}
.h11{
    display: inline;
    line-height:1.5em;
    font-size: 1.8em;
    position: relative;
    left: 16.5%; 
    color: white;
    font-family: sans-serif;
}
.logo:hover{
    border: 4px solid rgb(31, 9, 52);
}